:root {
  --eminence: #7b2c83;
  --prim: #f3e8f3;
  --trendy-pink: #a279a4;
  --east-side: #c291c6;
  --lilac: #c490bb;
  --finn: #5e2e5a;
  --bossanova: #5b2e64;
  --trendy-pink: #9e5ba5;
  --strikemaster: #a45c9c;
}

body {
  font-family: Helvetica, sans-serif;
  /* font-size: 16px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: var(--eminence) !important;
}

